@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom base styles
 */
@layer base {
  /* Add your custom base styles here */
  /* example: */

  /* Global styles */
  html,
  body {
    @apply bg-white-100;
    overscroll-behavior: none;
  }

  ::selection {
    @apply bg-blue-100;
  }

  /* Lenis smooth scroll */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: clip;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

/**
 * Custom component styles
 */
@layer components {
  /* Add your custom component styles here */
}

/**
 * Custom utility styles
 */
@layer utilities {
  /* Add your custom utility styles here */
}
