html,
body {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([href]) {
  cursor: not-allowed;
}

/* Header */
.header-group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 999;
}

.header-group.is-hidden {
  opacity: 0;
  transform: translate(0, -100%);
}

/* Accessibility */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}

/* Badge - Used in gift card template */
.badge {
  display: flex;
  align-items: center;
  border-radius: 50em;
  max-width: fit-content;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .badge {
    height: 36px;
    padding: 0 18px;
  }
}

@media screen and (max-width: 672px) {
  .badge {
    padding: 0 16px;
  }
}

/* Shopify Challenge */
.shopify-challenge__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.shopify-challenge__container .h-captcha {
  margin: 0 auto 1.5em auto;
}
